div {
  display: inline;
  justify-items: center;
  
}

.container-about {
  display: grid;
  /* display: flex;
  flex-direction: column; */
  width: 100%;
  padding-top: 2em;
  justify-content: center;
  align-items: center;
  min-height: auto;
}

.container-skills {
  display: grid;
  gap: 2em;
  justify-content: center;
  min-height: 85em;
}

.card-photo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.main-about {
  display: grid;
  width: 100%;
  margin-bottom: 3em;
  vertical-align: middle;
  padding-top: 20px;
  justify-content: center;
}

.card-skills {
  border: 1px black;
  min-width: 200px;
  align-items: center;
  justify-content: center;
}

.description {
  padding-top: 20px;
  align-content: center;
}

.img-about {
  margin: auto;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-top: 30px;
}

@media (min-width: 900px) {
  .container-skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    min-height: 33em;
  }
}

@media (min-width: 600px) {
  .main-about {
    display: grid;
    grid-auto-flow: column;
    padding-left: 2em;
    padding-right: 2em;
    gap: 2em;
    max-width: fit-content;
  }
  .main-about p {
    font-size: 1rem;
  }

  .card-about-skills {
    flex-wrap: wrap;
  }
  .card-about {
    width: 150px;
    height: 120px;
    padding: 10px;
  }
}
