.div-main {
  display: flex;
  justify-content: flex-end;
  background-color: ;
  height: 10vh;
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
}

.link {
  padding: 7px;
  color: black;
  padding-right: 45px;
}

.link:hover {
  color: grey;
}
.Navbar_container {
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 40px;
  display: flex;
  justify-content: flex-end;
  background-color: transparent;
}
/* .Navbar_container h1 {
  font-stretch: extra-expanded;
  /* white-space: nowrap; 
} */

@media screen and (min-width: 800px) {
  .container {
    margin: 1em 2em;
  }
}

@media (min-width: 576px) {
  .container {
    margin: 1em 2em;
  }
  .Navbar_container h1 {
    white-space: normal;
    font-size: 20;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    margin: 1em 2em;
  }
  .Navbar_container h1 {
    white-space: nowrap;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .Navbar_container h1 {
    white-space: normal;
    font-size: 20;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .Navbar_container h1 {
    white-space: nowrap;
    font-size: 20;
  }
}
