.Navbar_container {
  padding: 1em;
  display: flex;
  flex-direction: center;
  justify-content: center;
  background-color: #ffac87;
  top: 0; /* Position the navbar at the top of the page */
  left: 0;
  width: 100%;
  height: min-content;
  font-size: 1rem;
}

.Navbar_container a {
  align-self: center;
  color: white;
  background-color: violet;
}
.Navbar_container a:link {
  color: white;
}
.Navbar_container a:hover {
  color: #ffac87;
  background-color: white;
  border-radius: 7px;
  text-decoration: none;
}

@media screen and (min-width: 800px) {
  .container {
    margin: 1em 2em;
  }
}

@media (max-width: 576px) {
  /* .Navbar_container {
    margin: 1em 2em;
  }
  .link {
    font-size: 12px;
    flex-wrap: wrap;
    padding: 3px;
  }
  .Navbar_container h1 {
    white-space: normal;
    font-size: 14px;
  } */
}

/* // Medium devices (tablets, 768px and up) */

/* // Large devices (desktops, 992px and up) */
@media (max-width: 600px) {
}
