* {
  box-sizing: border-box;
}

.container-portfolio {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-left: 1em;
  padding-top: 4em;
  padding-right: 1em;
}

.container-cards {
  padding-left: 1em;
  padding-right: 1em;
}

/* Styled Links */

.card-portfolio a {
  margin: 1em;
  background-color: #ffac87;
  text-decoration: none;
  border-radius: 5px;
  color: white;
}
.card-portfolio a:link {
  text-decoration: none;
}

.card-portfolio a:hover {
  border: solid #ffac87;
  color: #ffac87;
  background-color: white;
  text-decoration: none;
}
.card-portfolio {
  display: grid;
  gap: 2em;
  margin-top: 3em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 2em;
}

.card-text {
  border-top: solid #ffac87;
  padding: 2em;
  border-bottom: solid #ffac87;
}
.card-portfolio p {
  width: 50ch;
}
a {
  padding: 10px;
  margin-top: 10px;
}
a:link {
  text-decoration: none;
}
a:hover {
  border: solid #ffac87;
  color: #ffac87;
  background: white;
  text-decoration: none;
}

.card-portfolio h2 {
  padding-bottom: 10px;
  padding-top: 10px;
}

.img-portfolio {
  border-radius: 5px;
  max-height: 200px;
  max-width: 300px;
  align-self: center;
  justify-self: center;
}

.container {
  height: 190vh;
  width: 100%;
}

@media (min-width: 900px) {
  .card-portfolio {
    grid-template-columns: repeat(5, 1fr);
  }
  .card-text {
    border-bottom: none;
  }
  #reverse-image {
    grid-row-start: 1;
  }

  .grid-col-span-3 {
    grid-column: span 3;
  }
  .img-portfolio {
    grid-column: span 2;
  }
}
