.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 75px;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: auto;
}

.skills {
  display: flex;
}

h2 {
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: 700;
}

a:link {
  text-decoration: none;
  color: none;
}

a:visited {
  text-decoration: none;
  color: none;
}

a:hover {
  text-decoration: none;
  animation-delay: 2s;
}

a:active {
  text-decoration: none;
}

.card-skills {
  border-color: black;
  margin: 10px;
  justify-content: space-evenly;
  width: 100px;
  height: 200px;
}
