.container {
  display: grid;
  grid-auto-flow: row;
  width: 100%;
  height: auto;
  margin: auto;
  padding-top: 6em;
}

.skills {
  /* display: flex;
  justify-content: center; centers child */
}
.skills ul {
  margin: 2px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.card-skills {
  border-color: black;
  margin: 10px;
  justify-content: space-evenly;
  width: 100px;
  height: 200px;
}
