.main-about {
  display: inline-flex;
  width: 100%;
  height: 100%;
  background-image: ;
  vertical-align: middle;
  padding-top: 100px;
}

.description {
  padding-top: 20px;
  padding-right: 15%;
  align-content: center;
  text-align: justify;
}

.img-about {
  margin: auto;
  border-radius: 50%;
  width: 200px;
}

@media (max-width: 544px) {
  .img-about {
    width: 150px;
  } /*1rem = 16px*/
}
