
h3 {
    display: inline-block;
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding-top: .5rem;
    padding-right: 1.5rem;
    padding-bottom: .5rem;
    padding-left: 1.5rem;
    background-color: #ffcb4a;
    border-radius: 50rem;
}

.techskills {
  display: flex;
  justify-content: space-around;
}

a:link {
  text-decoration: none;
  color: none;
}

a:visited {
  text-decoration: none;
  color: none;
}

a:hover {
  text-decoration: none;
  animation-delay: 2s;

}

a:active {
  text-decoration: none;
}

<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 9b03d01ae31c3bcd45fc14f5a3f5eebc0260a6a2
/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {
  h3 {font-size:1rem;} /*1rem = 16px*/
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  h3 {font-size:1.5rem;} /*1rem = 16px*/
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  h3 {font-size:2.5rem;} /*1rem = 16px*/
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  h3 {font-size:3rem;} /*1rem = 16px*/
<<<<<<< HEAD
=======
=======
  
>>>>>>> 9b03d01ae31c3bcd45fc14f5a3f5eebc0260a6a2
.p {
  border-width: 1px;
  border-radius: 25px;
  padding: 3px;
  background-color: azure;

<<<<<<< HEAD
>>>>>>> c9201ac95ae407da67b9970bbeeb1cceb14184c4
=======
>>>>>>> 9b03d01ae31c3bcd45fc14f5a3f5eebc0260a6a2
}
